{% include 'navbar.html' %}
{% load static %}
<main class="singleProject my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <h3 class="singleProject__subtitle"></h3>
                <div class="singleProject__toolStack">
                    {% for tag in ff.tag.all %}
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>{{ tag.name }}</small>
                    </span>
                    {% endfor %}
                </div>
                {% if ff.demo_link %}
                {% with "http://"|add:ff.demo_link as absolute_demo_link %}
                <a class="singleProject__liveLink" href="{{ absolute_demo_link }}" target="_blank"><i class="im im-external-link"></i>Demo Link</a>
                {% endwith %}
                {% endif %}
            </div>
            <div class="column column--2of3">
                <img class="singleProject__preview" src="{{ ff.featured_img.url }}" alt="portfolio thumbnail" />
                <a href="{%  url 'projects' %}" class="singleProject__developer">Back</a>
                <h2 class="singleProject__title">{{ ff.description }}</h2>
                <h3 class="singleProject__subtitle">About the Project</h3>
            </div>
        </div>
    </div>
</main>
